
/*maximum width of the container with content */
/* .content-2 {
    border: 3px solid red;
    width: 1160px;  
    margin: auto;
} */

.container-services {
    margin-bottom: 100px;
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-2 {
    /* border: 3px solid red; */
    width: 1160px;  
    /* margin: auto; */
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 

.our-services {
    font-size: 36px;
    line-height: 40px;
    color: #4e4e4e;
    font-family: "Montserrat";
    font-weight: 400;
    text-align: center;
    /* border: 2px solid yellow; */
}

.lines {
    display: flex;
    flex-direction: column;
    margin: 0 0 65px;
}

.line-d {
    height: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.line2 {
    margin-top: 2px;
    margin-left: 20px;
}

.tabs {
    display: flex;
    width: 100%;
    padding: 0;
    margin: 0;
}

.tabs > li {
    position: relative;
}

.tabs-title {
    /* padding: 20px; */
    background-color: #f8fcfe;
    cursor: pointer;
    list-style: none;
    width: calc(100% / 6);
    height: 75px;
    border: 1px solid #ebebeb;
    display: flex;
    justify-content: center;
    align-items: center;

}

.tabs-title-style {
    font-size: 16px;
    line-height: 39px;
    color: #717171;
    font-family: "Montserrat";
    font-weight: 400;
    text-align: center;
}

/*Active Tabs*/

.tabs-title.active {
    background-color:hsl(168, 79%, 45%) ;
    border: 2px solid #18cfab;
    color: white;
}

/*Active Triangle*/

.tabs-title.active::after {
    /* background-color:#18cfab ; */
    content: '';
    width: 0;
    height: 0;
    border-left: 33px solid transparent;
    border-right: 33px solid transparent;
    border-top: 22px solid #18cfab;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 100%); 
}

.tabs-title:hover {
    background-color: #18cfab;
    color: white;
}

/*Active Tabs End*/

  .tabs-content {
      list-style: none;
      margin-top: 20px;
      height: 305px;
      overflow: scroll;
      overflow-x: hidden;
      overflow-y: hidden;
    }
    
    .tabs-content >  li {
        display: none;
    }

    .tabs-content > .active-tab {
        display: block;
    }


    .texts {
        height: 100%;
        border: 3px solid transparent;
        margin-left: -40px;
        
    }
    

  .textwrap {
      float: left;
      margin: 20px 20px 20px 0;
  }


  .purchase-container  {
      background: url(../images/headers/section-2.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-clip: content-box;
      /* background-clip: content-box; */
      background-position: center;

  }

  .darker-background {
    position: relative;
  }
  
  .darker-background::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    background-color: rgba(0, 0, 0, 0.8);
  }
  

  .content-3 {
    width: 1160px;  /*maximum width of the container with content */
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }


.first-field {
  margin-top: 128px;
  font-size: 40px;
  line-height: 40px;
  color: #18cfab;
  font-family: "Montserrat";
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  font-weight: bolder;
  /* border: 2px solid red; */
}


  .second-field {
    font-size: 13px;
    line-height: 40px;
    color: #d8d8d8;
    font-family: "Montserrat";
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    margin-top: 30px;
    font-weight: bold;
  }

  .purchase-button {
    width: 160px;
    height: 62px;
    margin: 78px 14px 128px 14px;
    color: white;
    font-size: 13px;
    font-family: "Montserrat";
    text-align: center;
    background-color: #00cbf6;
    border: 1px solid #00cbf6;
    border-radius: 5px;
    outline: none;
    transition: all .3s ease-in-out;
    font-weight: bolder;
    cursor: pointer;
}

.purchase-button:hover {
    border-top: 3px solid white;
    border-right: 1px solid #18cfab;
    border-bottom: 1px solid #18cfab;
    border-left: 1px solid #18cfab;
    background-color: #18cfab;
}

.first-field,.second-field,.purchase-button {
    z-index: 1;
}

