.amazing-work {
    font-size: 36px;
    line-height: 40px;
    color: #4e4e4e;
    font-family: "Montserrat";
    font-weight: 400;
    text-align: center;
    /* border: 2px solid red; */
    margin-top: 90px;
}

.content-4 {
    /* border: 2px solid yellow; */
    width: 1160px;  /*maximum width of the container with content */
    margin: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

.tabs-container-second {
    width: auto;
}

.tabs-second {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    /* border: 4px solid green; */
}


.tabs-second-title {
    padding: 5px 20px;
    background-color: #ffffff;
    cursor: pointer;
    list-style: none;
    height: 60px;
    width: auto;
    
    /* width: calc(100% / 5); */
   
    border: 1px solid #ebebeb;
    display: flex;
    
    justify-content: center;
    align-items: center;

}

.tabs-second-title-style {
    font-size: 16px;
    line-height: 39px;
    color: #717171;
    font-family: "Montserrat";
    font-weight: 400;
    text-align: center;
}

.tabs-second-title:hover {
    color: #18cfab;
}

/*Active Tabs*/

.tabs-second-title.active-second {
    border-top: 2px solid #18cfab;
    color: #18cfab;
}


.photos-list {
    width: 100%;
    margin-top: 79px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* border: 3px solid red; */
}

.load-more-btn {
    width: 160px;
    height: 62px;
    margin: 128px 14px 150px;
    color: white;
    font-size: 13px;
    font-family: "Montserrat";
    text-align: center;
    background-color: #18cfab;
    border: 1px solid #18cfab;
    border-radius: 5px;
    outline: none;
    transition: all .3s ease-in-out;
    font-weight: bolder;

    display: flex;
    
    align-items: center;
    justify-content: center;
}

.loaded-pics {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.content-4 button {
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
}


.load-more-btn p {
    /* border: 2px solid red; */
    margin-left: 16px;
}

.foot {
    width: 100%;
    height: 90px;
    background-color: #22353f;
    font-size: 14px;
    line-height: 26px;
    color: #aeaeae;
    font-family: "Montserrat";
    font-weight: 300;
    margin-top: 100px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.foot a{
    text-decoration: none;
    color: #18cfab;
}

#the-ham {
    margin-right: 5px;
    margin-left: 6px;
}

#all-rights {
    border-left: 1px solid #aeaeae;
    padding-left: 5px;
}