body {
    margin: 0;
    padding: 0;
    width: 100%;
}

* {
    box-sizing: border-box;
}



.first-page {
    /* border: 2px solid yellow; */
    width: 100%;
    height: 100%;
    display: inline-block;
    background-image: url(../images/headers/section-1.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    /* background-attachment: fixed; */
    opacity: 0.85;    
}

.transparent-background {
    /* border: 2px solid yellow; */
    width: 100%;
    height: 95px;
    /* background-color: rgba(98,94,73,0.4); */
    background-color: rgba(0,0,0,0.4);
}

.content {
    /* border: 1px solid yellow; */
    width: 1160px;  /*maximum width of the container with content */
    margin: auto;
    margin-top: -95px;
}

.container-1 {
    /* border: 1px solid red; */
    width: 100%;
    height: 95px;
    display: flex;
    justify-content: space-around;
}

.row1 {
    /* border: 2px solid greenyellow; */
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.row1 a {
    text-decoration: none;
}

.logo {
    /* border: 2px solid magenta; */
    height: 100%;
    /* width: 22%; */
    width: auto;
    display: flex;
    /* justify-content: space-between; */
    justify-content: center;
    align-items: center;
}

#tlogo{
    /* border: 1px solid red; */
    width: 65px;
    height: 70px;
}

/* #h {
    border: 1px solid red;
    margin-right: 40px;
} */

.logo-style {
    
    font-size: 34px;
    color: #ffffff;
    font-family: "Montserrat";
    font-weight: 10;
}

.the {
    margin-left: 6px;
    font-weight: lighter;
}

.logo-part {
    color: #18cfab;
    font-weight: bold;
}

.details {
    /* border: 2px solid magenta;  */
    margin: 0 0 0 222px;
    width: auto;
    height: 100%;
    font-size: 13px;
    /* color: #b8b8b8; */
    color: #bbbbbb;
    font-family: "Montserrat";
    display: flex;
    justify-content: center;
    align-items: center;    
}

.home, .about, .skills,.service,.work,.testimonial,.blog,.team,.contact,.search-icon {
    /* border: 2px solid green; */
    height: 100%;
    font-weight: bold;
    margin: 0 25px 0 0;
    font-size: 13px;
    line-height: 42px;
    font-family: "Montserrat";
    font-weight: 700;
    transition: all .25s ease-in-out;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    border: none;
}

.search-icon {
    margin: 0;
    transition: all .25s ease-in-out;
    border: none;
    filter: brightness(0) saturate(100%)
    invert(83%) sepia(1%) saturate(2225%) 
    hue-rotate(329deg) brightness(92%) contrast(88%);
}

.search-icon:hover {
    filter: brightness(0) saturate(100%) 
    invert(77%) sepia(22%) saturate(5893%) 
    hue-rotate(116deg) brightness(96%) contrast(81%);
}

.home:hover{
    border-bottom: 2px solid #18cfab;
    color: #18cfab;
}

.about:hover{
    border-bottom: 2px solid #18cfab;
    color: #18cfab;
}

.skills:hover{
    border-bottom: 2px solid #18cfab;
    color: #18cfab;
}

.service:hover{
    border-bottom: 2px solid #18cfab;
    color: #18cfab;
}

.work:hover{
    border-bottom: 2px solid #18cfab;
    color: #18cfab;
}

.testimonial:hover{
    border-bottom: 2px solid #18cfab;
    color: #18cfab;
}

.blog:hover{
    border-bottom: 2px solid #18cfab;
    color: #18cfab;
}

.team:hover{
    border-bottom: 2px solid #18cfab;
    color: #18cfab;
}

.contact:hover{
    border-bottom: 2px solid #18cfab;
    color: #18cfab;
}

/* .search-icon:hover{
    border-bottom: 2px solid #18cfab;;
} */

.container-2 {
    /* border: 2px solid green; */
    width: 100%;
    display: inline-block;
    margin: auto;
}

.row2 {
    /* border: 2px solid red; */
    margin-top: 150px;
}

.first-line,.second-line,.third-line {
    display: flex;
    justify-content: center;
    color: red;
    font-family: "Montserrat";
    text-align: center;
    margin-top: 20px;
}

.first-line,.second-line{
    text-transform: uppercase;
}

.first-line {
    font-size: 30px;
    color: #ffffff;
    font-weight: bolder;
}

.wordpress-theme {
    margin-left: 6px;
    color: #18cfab;
}

.second-line {
    font-size: 66px;
    color: #ffffff;
    font-weight: bolder;
}

.third-line {
    font-size: 29px;
    color: #d4d4d4;
    font-weight: 300;
}

.container-3{
    width: 100%;
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.bt2 {
    width: 160px;
    height: 62px;
    margin: 128px 14px 190px;
    color: white;
    font-size: 13px;
    font-family: "Montserrat";
    text-align: center;
    background-color: #00cbf6;
    border: 1px solid #00cbf6;
    border-radius: 5px;
    outline: none;
    transition: all .3s ease-in-out;
    font-weight: bolder;
}

.bt1,.bt2 {
    cursor: pointer;
}

.bt1 {
    width: 160px;
    height: 62px;
    margin: 128px 14px 190px;
    color: white;
    font-size: 13px;
    font-family: "Montserrat";
    text-align: center;
    background-color: #18cfab;
    border: 1px solid #18cfab;
    border-radius: 5px;
    outline: none;
    transition: all .3s ease-in-out;
    font-weight: bolder;
}

.bt1:hover {
    border-top: 3px solid white;
}

.bt2:hover {
    border-top: 3px solid white;
}

.rentagles-container {
    /* border: 3px solid yellowgreen; */
    width: 100%;
    display: flex;
    flex-direction: row;
}

.rentagles-container a {
    cursor: pointer;
}

.rectangles {
    width: 100%;
    height: 330px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-transform: uppercase;

}

.rectangle1, .rectangle3 {
    font-size: 20px;
    color: #18cfab;
    font-family: "Montserrat";
    font-weight: 700;
    background-color: #1c2a33;
    border-top: 6px solid #18cfab;
}

.rectangle2,.rectangle4 {
    font-size: 20px;
    color: #1c2a33;
    font-family: "Montserrat";
    font-weight: 700;
    background-color: #18cfab;
    border-top: 6px solid white;
}

.form1, .form3 {  
    width: 66px;
    height: 99px;
}

.form2, .form4 {  
    width: 80px;
    height: 99px;
}

.span {
    margin-top: 48px;
}

